<ul class="list-group">
  @for(transaction of transactions; track transaction.id) {
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          @if (transaction.user) {
            <div class="fw-bold">{{transaction.user.displayName}}</div>
          } @else {
            <div class="fw-bold">{{transaction.shareTransaction}}</div>
          }
          {{transaction.description}}
          <div>{{transaction.date | dateTime : 'dd-MM-yyyy hh:mm:ss'}}</div>

        </div>
        <div class="d-flex flex-column">
          @if(transaction.amount) {
            <span class="badge rounded-pill align-self-end" [ngClass]="{'bg-primary': transaction.addTransaction, 'bg-danger': !transaction.addTransaction}">{{ transaction.amount }}</span>
          }
          <div><span class="me-2">Update Amount: </span><strong>{{transaction.updatedPortfolioAmount}}</strong></div>
          <div><span class="me-2">Update Charge: </span><strong>{{transaction.updatedPortfolioCharge}}</strong></div>
        </div>
      </li>
  } @empty {
    <span class="text-danger">No transactions</span>
  }
</ul>
