@if (errorMessage) {
  <div class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
}
<div class="d-flex align-items-center w-50 justify-content-between">
  <div class="d-flex align-items-center">
    <h3>{{portfolio?.portfolio.displayName}}</h3>
    <span class="ms-2">Total value: <strong>{{totalValue | number: '1.2-2'}}</strong></span>
    <span class="ms-2">Remainging cash: <strong>{{portfolio?.portfolio.totalValue | number: '1.2-2'}}</strong></span>
    <span class="ms-2">Per user charge: <strong>{{portfolio?.portfolio.portfolioCharge | number: '1.2-2'}}</strong></span>
  </div>
  <div class="d-flex">
    <a href="#" class="link-primary" [routerLink]="['./portfoliotransactions']">All Transactions</a>
    <button (click)="openPortfolioEdit(portfolioModal)"  class="btn btn-primary ms-2"><i class="bi bi-pencil"></i></button>
  </div>
</div>
<div class="row">
  <!-- Left Column: Shares Details -->
  <app-share-details class="col-md-6"
                     [totalShareValue]="portfolio?.totalShareValue"
                     [portfolioId]="portfolioId" [shares]="shares" (loadPortfolioDetailsEvent)="loadPortfolioDetails()"></app-share-details>

  <!-- Right Column: User Contributions -->
  <div class="col-md-6">
    <h4>User Contributions</h4>
    @for (userPortfolio of userPortfolios; track userPortfolio.username) {
      <div class="mt-4" type="button" (click)="openwithDrawAmountModal(withDrawModal, userPortfolio)">
        <div class="d-flex justify-content-between">
          <label>{{ userPortfolio.username }}
            <strong>Current </strong>({{userPortfolio.currentValue | number:'1.2-2'}})
            ({{userPortfolio.savedCurrentValue | number:'1.2-2'}})
            ({{userPortfolio.addedAmount | number:'1.2-2'}})
          </label>
          <a href="#" class="link-primary" [routerLink]="['./usertransactions', userPortfolio.id]">Transactions</a>
        </div>
        <div class="progress mb-2">
          <div
            class="progress-bar"
            role="progressbar"
            [style.width]="userPortfolio.contributionPercentage + '%'"
            attr.aria-valuenow="{{ userPortfolio.contributionPercentage }}"
            aria-valuemin="0"
            aria-valuemax="100">
            {{ userPortfolio.contributionPercentage | number: '1.2-2' }}%
          </div>
        </div>
        <button class="btn btn-danger" (click)="confirmDelete(userPortfolio.id);$event.stopPropagation()">Remove</button>
      </div>
    }
    <div class="mt-3">
      <ng-select
        [items]="users"
        bindLabel="displayName"
        bindValue="id"
        [(ngModel)]="selectedUser"
        [placeholder]="'Select a user'">
      </ng-select>

      <input [(ngModel)]="contributionAmount" type="number" class="form-control mt-2" placeholder="Contribution Amount" />
      <button class="btn btn-primary mt-2" (click)="addUserToPortfolio()">Add User</button>
    </div>
  </div>
</div>


<ng-template #portfolioModal>
  <app-add-portfolio [portfolio]="portfolio.portfolio" (closeModal)="modalRef.hide()" (onSuccess)="loadPortfolioDetails()" ></app-add-portfolio>
</ng-template>

<ng-template #withDrawModal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="shareModalLabel">Withdraw amount</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()">
      </button>
    </div>
    <div class="modal-body">
    <div class="input-group mb-3">
      <input type="text" [(ngModel)]="amountToWithdraw" class="form-control" aria-label="Text input with segmented dropdown button">
      <button type="button" class="btn btn-outline-secondary" (click)="withDrawAmount()">Withdraw</button>
    </div>
    </div>
  </div>
</ng-template>
