<div>
  <button class="btn btn-primary mb-3" (click)="openPortfolioModal(portfolioModal)">Add Portfolio</button>
</div>

<div class="scrollable-list">
  <div *ngFor="let portfolio of portfolios" class="card mb-3">
    <div class="card-body" (click)="navigateToPortfolioDetails(portfolio.id)">
      <h5 class="card-title">{{ portfolio.displayName }}</h5>
      <p class="card-text">Total Charge: ₹{{ portfolio.portfolioCharge | number:'1.2-2' }}</p>
      <p class="card-text">Total Value: ₹{{ portfolio.totalValue | number:'1.2-2' }}</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="openDeleteModal(deleteModal, portfolio)">Delete</button>
    </div>
  </div>
</div>

<ng-template #portfolioModal>
  <app-add-portfolio (closeModal)="modalRef.hide()" (onSuccess)="onSubmitPortfolio($event)" ></app-add-portfolio>
</ng-template>

<ng-template #deleteModal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()">
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete {{ selectedPortfolio?.displayName }}?</p>
  </div>
  <!-- Error message -->
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
    <button class="btn btn-danger" (click)="onDeletePortfolio()">Delete</button>
  </div>
</ng-template>
